<section>
  <div class="active">
    <div class="card">
      <div class="card-header">
        Active Medication List
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Deseases name</th>
              <th>Medication name</th>
              <th>Strength</th>
              <th>Frequency</th>
              <th>Begin date</th>
              <th>End date</th>
              <th>Status</th>
              <th>X-Ray</th>
              <th>Treatment by</th>
              <th>Create by</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ocology</td>
              <td>Cancer</td>
              <td>20mg</td>
              <td>1x DAILY</td>
              <td>03/03/2021</td>
              <td>03/02/2021</td>
              <td>approvel</td>
              <td><a href="#">link</a></td>
              <td>DT001</td>
              <td>NU001</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="history">
    <div class="card">
      <div class="card-header">
        History Medication List
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Deseases name</th>
              <th>Medication name</th>
              <th>Strength</th>
              <th>Frequency</th>
              <th>Begin date</th>
              <th>End date</th>
              <th>Status</th>
              <th>X-Ray</th>
              <th>Treatment by</th>
              <th>Create by</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ocology</td>
              <td>Cancer</td>
              <td>20mg</td>
              <td>1x DAILY</td>
              <td>03/03/2021</td>
              <td>03/02/2021</td>
              <td>approvel</td>
              <td><a href="#">link</a></td>
              <td>DT001</td>
              <td>NU001</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
