<section class="content">
  <div class="container">
    <div class="row">
      <!-- create information of patient -->
      <div class="patient">
        <h1>MEDICAL PROFILE</h1>
      </div>
      <div class="infor col-6">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="serial" class="form-label">Serial No.</label>
            <input type="serial" class="form-control" id="serial" placeholder="ME001">
          </div>
          <div class="col-md-6">
            <label for="medicalname" class="form-label">Medical name</label>
            <input type="medicalname" class="form-control" id="medicalname">
          </div>
          <div class="col-6">
            <label for="importdate" class="form-label">ImportDate</label>
            <input type="date" class="form-control" id="inputdob">
          </div>
          <div class="col-6">
            <label for="type" class="form-label">Type</label>
          <select class="form-select" aria-label="Default select example">
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="infor col-6">
        <table class="table">
          <thead>
            <tr>

              <th scope="col">Serial No.</th>
              <th scope="col">Medical Name</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>PT001</td>
              <td>Oncology</td>
              <td>15</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</section>
