* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  margin: 10px;
}

.infor col-6 {
  border: 1px solid black;
  background-color: #fff;
}

.row g-3 {
  background-color: cadetblue;
}
