<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor profile</title>
</head>
<body>
<section>
  <!-- Content -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Doctor</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">History</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Personal -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="title">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../images/doctor-img2.png" style="width: 50px" alt="nurser">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">NGUYEN VAN B - DT0001</h5>
                  <p class="card-text">Department: 001</p>
                  <p class="card-text"><small class="text-muted">
                    <a href="#" class="card-link">get all</a>
                  </small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="../images/logo1.jpg" style="width: 100px;" class="our-hospital" alt="hospital">
      </div>
    </div>

    <div class="container">
      <form class="row g-3">
        <div class="col-md-3">
          <label for="PatientID" class="form-label">Patient ID</label>
          <input type="text" class="form-control" id="patientID" placeholder="PT0001">
        </div>
        <div class="col-md-3">
          <label for="fullname" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="fullname" placeholder=" Nguyen Van A">
        </div>
        <div class="col-md-3">
          <label for="begindate" class="form-label">Begin Date</label>
          <input type="date" class="form-control" id="begindate" placeholder="03/03/2021">
        </div>
        <div class="col-md-3">
          <label for="enddate" class="form-label">End Date</label>
          <input type="date" class="form-control" id="enddate">
        </div>
        <div class="col-md-6">
          <label for="deseasesname" class="form-label">Deseases Name</label>
          <input type="text" class="form-control" id="deseasesname" placeholder="none">
        </div>
        <div class="col-md-6">
          <label for="medicationname" class="form-label">Medication name</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this Medical name</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="strength" class="form-label">Strength</label>
          <input type="text" class="form-control" id="strength" placeholder="xxmg">
        </div>
        <div class="col-md-6">
          <label for="reference" class="form-label">Reference</label>
          <input type="text" class="form-control" id="reference" placeholder="none">
        </div>
        <div class="col-md-6">
          <label for="reference" class="form-label">Results</label>
          <input type="text" class="form-control" id="reference" placeholder="none">
        </div>
        <div class="col-6">
          <label for="x-ray" class="form-label">X-Ray</label>
          <input class="form-control" type="file" id="x-ray">
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Comments</label>
          </div>
        </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
    </div>
  </div>
</header>


</section>
<!-- End Content -->
</body>
</html>
